<h1>Welcome to Ping Pong</h1>
  <form action="/pongout">
    <div class="form-group">
       <label for="ponginput">To which number would you like to Ping Pong?
  </label>
       <input id="ponginput" name="ponginput" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
